<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AntiXSS" version="4.3.0" targetFramework="net40" />
  <package id="ckeditor-full" version="4.5.7" targetFramework="net40" />
  <package id="Onit.Controls.OnitCombo" version="4.0.0" targetFramework="net40" />
  <package id="Onit.Controls.OnitFinestraModale" version="4.4.0" targetFramework="net40" />
  <package id="Onit.Controls.OnitGrid" version="4.1.0" targetFramework="net40" />
  <package id="Onit.Controls.OnitTable" version="4.3.0" targetFramework="net40" />
  <package id="Onit.Controls.PagesLayout.OnitLayout3" version="4.4.0" targetFramework="net40" />
  <package id="Onit.OnAssistnet.Contracts" version="1.5.0" targetFramework="net40" />
  <package id="Onit.OnAssistnet.Core" version="1.0.0" targetFramework="net40" />
  <package id="Onit.OnAssistnet.FileExport" version="1.1.0" targetFramework="net40" />
  <package id="Onit.OnAssistnet.FileExport.DAL" version="1.0.0" targetFramework="net40" />
  <package id="Onit.OnAssistnet.FileExport.ObjectModel" version="1.0.0" targetFramework="net40" />
  <package id="Onit.OnAssistnet.GestioneConsenso.Wcf.Proxy" version="1.4.0" targetFramework="net40" />
  <package id="Onit.OnAssistnet.MID" version="2.2.0" targetFramework="net40" />
  <package id="Onit.OnAssistnet.Web" version="2.8.0" targetFramework="net40" />
  <package id="Onit.OnIcs.Dal" version="1.5.0" targetFramework="net40" />
  <package id="Onit.Private.Ajax" version="5.7.22" targetFramework="net40" />
  <package id="Onit.Private.CrystalReports" version="11.5.0" targetFramework="net40" />
  <package id="Onit.Private.EnterpriseLibrary.Common" version="5.0.414" targetFramework="net40" />
  <package id="Onit.Private.EnterpriseLibrary.Data" version="5.0.414" targetFramework="net40" />
  <package id="Onit.Private.EnterpriseLibrary.Logging" version="5.0.414" targetFramework="net40" />
  <package id="Onit.Private.Infragistics" version="11.1.20111" targetFramework="net40" />
  <package id="Onit.Private.Interop.ActiveDs" version="1.0.0" targetFramework="net40" />
  <package id="Onit.Private.Oracle.DataAccess" version="2.111.7" targetFramework="net40" />
  <package id="Onit.Private.Telerik.Reporting" version="4.2.10" targetFramework="net40" />
  <package id="Onit.Private.Telerik.Web.UI" version="2012.2.607" targetFramework="net40" />
  <package id="Onit.Proxy.OnVacActor" version="1.5.0" targetFramework="net40" />
  <package id="Onit.Shared.Manager" version="4.12.1" targetFramework="net40" />
  <package id="Onit.Shared.NTier" version="2.5.0" targetFramework="net40" />
  <package id="Onit.Shared.NTier.Dal" version="3.5.0" targetFramework="net40" />
  <package id="Onit.Shared.Web" version="4.19.0" targetFramework="net40" />
  <package id="Onit.Shared.Web.Static" version="1.7.0" targetFramework="net40" />
  <package id="Onit.Web.UI.WebControls.DynamicPanel" version="3.6.0" targetFramework="net40" />
  <package id="Onit.Web.UI.WebControls.TextboxFinder" version="3.7.0" targetFramework="net40" />
  <package id="Onit.Web.UI.WebControls.Validators" version="3.4.0" targetFramework="net40" />
  <package id="Onit.Web.UI.WebControls.wwDataBinder" version="3.7.0" targetFramework="net40" />
  <package id="OnitDAM" version="4.0.0" targetFramework="net40" />
  <package id="OnitDataPanel" version="4.3.0" targetFramework="net40" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net40" />
  <package id="stdole" version="7.0.3300" targetFramework="net40" />
  <package id="Unity" version="2.0" targetFramework="net40" />
</packages>