<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="Log" type="Onit.OnAssistnet.OnVac.Log.Config.ConfigHandler, Onit.OnAssistnet.OnVac.Log" />
    <section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Onit.OnAssistnet.OnVac.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="Onit.OnBatch.WebService.Proxy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="system.web">
      <section name="viewstate" type="Onit.Shared.Manager.ViewState.Base.ViewStateConfigurationHandler, Onit.Shared.Manager" allowDefinition="MachineToApplication" />
    </sectionGroup>
    <section name="OnitNTierConfiguration" type="Onit.Shared.NTier.Configuration.OnitNTierConfigurationSettingHandler, Onit.Shared.NTier" />
  </configSections>

  <Log enable="true" throwexceptions="true">
    <add name="LogDB" type="Onit.OnAssistnet.OnVac.Log.LogWriterProvider.DbLogWriterProvider" enable="true">
      <par name="DataProvider" value="OracleClient" />
      <par name="FiltroCriticita" value="0,1,2,3" />
    </add>
    <!--
    <add name="LogFile" type="Onit.OnAssistnet.OnVac.Log.LogWriterProvider.FileLogWriterProvider" enable="true">
      <par name="AbsoluteFileName" value="c:\inetpub\wwwroot\portale\riservata\OnVac\Log_{0}.log"/>
      <par name="FiltroCriticita" value="0,1,2,3"/>
    </add>
    -->
  </Log>
  
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\projects\trace.log" formatter="Text Formatter" traceOutputOptions="None" />
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="prova@onit.it" fromAddress="administrator@onit.it" subjectLineStarter="Errore" smtpServer="webmail.onit.it" formatter="Text Formatter" authenticationMode="None" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Flat File Trace Listener" />
          <add name="Email Trace Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  
  <OnitNTierConfiguration xmlns="http://schemas.onit.it/OnitNTierConfigurationSetting.xsd">
    <dal dalFactoryType="Onit.OnPortal.NTier.DL.LinqToEntities.LinqToEntitiesDalFactory, Onit.OnPortal.NTier.DL.LinqToEntities" />
    <!-- ORA 10 G -->
    <!-- SVIORA11G 050000 [VENETO] -->
    <OnitManager ManagerAppName="OnPortal" Azienda="050000" AziendaSys="050000" Provider="ORACLE" ConnectionString="" />
    <AppConfig DisableBackSpace="false" EnableMultipleUserAccess="true" EnableUserAccessMonitoring="false" UserAccessPollingSeconds="20" UserAccessTimeoutSeconds="30" />
    <!-- <OnPortal CookieWebserviceUrl="" CasServerUrl="" OnPortalUrl="http://localhost/Onit.OnPortal/" OnPortalLoginSL="http://localhost/Onit.OnPortal/Onit.OnPortal.UI.Silverlight.aspx" /> -->
    <OnPortal CookieWebserviceUrl="" CasServerUrl="" OnPortalUrl="http://vaccini.onit.local/Onit.OnPortal/" OnPortalLoginSL="http://vaccini.onit.local/Onit.OnPortal/Onit.OnPortal.UI.Silverlight.aspx" />
  </OnitNTierConfiguration>
  
  <!--<infragistics.web imageDirectory="http://vaccini.onit.local/ig_common/images" javaScriptDirectory="http://vaccini.onit.local/ig_common/20111CLR20/Scripts"/>-->
  
  <appSettings>
    <!-- Serve per utilizzare l'algoritmo di decrittazione dei cookie presente nel framework 2. Decommentare se si sta usando una vecchia versione di on.portal (framework 2) -->
    <!-- <add key="aspnet:UseLegacyEncryption" value="true" /> -->
    
    <!-- Specifica il numero massimo di chiavi del modulo oltre il quale si ottiene un errore "Operazione non valida a causa dello stato corrente dell'oggetto". Di default vale 1000, in alcuni casi si e' dimostrato troppo poco -->
    <add key="aspnet:MaxHttpCollectionKeys" value="2000"></add>

    <!-- Impostare a true se c'e' un problema di autenticazione a causa di aggiornamenti Microsoft (Security Bulletin MS11-100): 
         Event code: 4005 - Event message: Forms authentication failed for the request. Reason: The ticket supplied was invalid -->
    <add key="aspnet:UseLegacyFormsAuthenticationTicketCompatibility" value="false" />
    
    <!-- N.B. vengono usate forse da PortaleSharedLibrary e OnitShared  -->
    <add key="SmtpServer" value="onexchange" />
    <add key="MailFrom" value="Amministrazione" />
    <add key="AnagrafeAdministrator" value="anagrafe" />
    <add key="AnagrafiMaxNumResults" value="20" />
    <add key="AdmGroup" value="Administrators" />
    <!--Specifica il path a partire dalla cartella base di Portale in cui salvare i files contenenti la serializzazione dei controlli, qualora sia necessario-->
    <add key="PathViewState" value="\viewstate\" />
    <!--DHCP o DNS-->
    <add key="DomainPolicy" value="DHCP" />
    <add key="SessionStackError" value="true" />
    <add key="LogOnFile" value="true" />
    <add key="portale.WSNFS01Service.WSNFS01Service" value="@@UnifaceLocationPlaceholder@@/WSNFS01" />
    <!-- Manager su ORA10G -->
    <!--
    <add key="ManagerConnectString" value="SXwrDNd6lZEEDpidcF0bJLkqF8TyndXStnF9yPJ/1Hv9UGoj7KsFs8iXC+P/oYPn21+KAbGcL8c/c/jchDHLu3oSvfn6E3Fp1PpmiKE6mVYN0dn10sj6pEMYp/NIx+TY"/>
    -->
    <!-- Manager su SVIORA11G -->
    <add key="ManagerConnectString" value="SXwrDNd6lZEEDpidcF0bJLkqF8TyndXStnF9yPJ/1Hv9UGoj7KsFs8iXC+P/oYPn21+KAbGcL8c/c/jchDHLu5WDul+J3oYkf0PZBWg7F04hsdZ8yHbPC5cihrFCagzA" />
    <add key="Provider" value="ORACLE" />
    <!-- Flag autenticazione LDAP -->
    <add key="IsLdapMembershipProvider" value="False" />
    <!-- PagesWithoutCheckOfSession: contiene i nomi dei file separati da virgole, per i quali non deve essere effettuato il controllo della sessione scaduta -->
    <add key="PagesWithoutCheckOfSession" value="LeftFrame.aspx,Exit.aspx,TopFrame.aspx,OnVacMain.aspx,RedirRicercaPaziente_Pazienti.aspx,Login.aspx,Default.aspx,LandingPage.aspx,DevLogin.aspx" />
    <add key="AppTest" value="false" />
    <add key="AppTestUsers" value=";" />
    <!--<add key="AppID" value="OnVac"/>-->
    <add key="AppPath" value="C:\projects\OnVac.Veneto\src\onvac.web" />
    <add key="LogPath" value="C:\projects\OnVac.Veneto\src\log" />
    <add key="staPath" value="C:\projects\OnVac.Veneto\src\.site\sta" />
    <add key="staWebPath" value="/sta/" />
    <!-- 
      Parametro utilizzato dalla libreria Settings:
        - true: solleva le eccezioni dovute alla presenza su db di un parametro non gestito dalla libreria.
        - false: le nasconde.
      E' consigliabile impostarlo a true per controllare che la libreria sia allineata rispetto ai parametri presenti su db.
      Impostare a false per utilizzare comunque l'applicativo, anche senza l'ultima versione dei Settings.
    -->
    <add key="SoloParametriAggiornati" value="false" />
    <!--Indica il nome della WebFolder in cui e' installato l'applicativo portale -->
    <!--<add key="MainWebFolder" value="/portale/riservata/"/>-->
    <add key="MainWebFolder" value="/" />
    <add key="PageLockOnDB" value="true" />
    <!-- indica se recuperare le informazioni sulla postazione -->
    <add key="InfoPc" value="true" />
    <!-- Valori per il redirect al login con sessione scaduta -->
    <add key="CheckIfExistsSession" value="true" />
    
    <!-- <add key="redirectPortale" value="http://localhost/onit.onportal/login.aspx?returnurl=main/main.aspx"/> -->
    <!-- <add key="redirectPortale" value="http://localhost/on.portal/login.aspx?returnurl=main/main.aspx" /> -->
    <!-- <add key="chiusuraPersonal" value="http://localhost/on.health/on.assistnet/onvac/layout/close.htm" /> -->
    <add key="redirectPortale" value="http://vaccini.onit.local/onit.onportal/login.aspx?returnurl=main/main.aspx" />
    <add key="chiusuraPersonal" value="http://vaccini.onit.local/on.health/on.assistnet/onvac/layout/close.htm" />

    <!-- Parametri per la gestione degli script di navigazione (Scripts\NavigationUtility.js) -->
    <add key="CheckDime" value="false" />
    <add key="CheckSubmit" value="true" />
    <add key="CheckNavigation" value="false" />
    
    <!-- Se presente, utilizza la classe wrapper definita in OnVac. Se commentato utilizza direttamente le classi di Crystal Report -->
    <!-- <add key="UseInternalReportWrapper"></add> -->
    
    <!-- WS XMPI -->
    <!-- Url fisico Xmpi di produzione (utilizzato da Onit.Shared.Xmpi.JBFManager) -->
    <!-- CESENA -->
    <add key="UrlXmpiService" value="http://172.31.11.32:8082/WS_IRIDE/jbfServices/JBFService" />
    <!-- CHIVASSO -->
    <!-- <add key="UrlXmpiService" value="http://10.70.205.205:8084/IRIDE/jbfServices/JBFService"/> -->
    <!-- Path del file di log per xmpi -->
    <add key="LogXmpi" value="C:\inetpub\wwwroot\Portale\OnitServizi\LogServizi\xmpi.log" />
    <!--
    <add key="LogXmpiDir" value=""/>
    -->
    <add key="Condpapp" value="" />

    <add key="NomeServer" value="nome_server" />
    
    <!-- Parametri configurazione servizio archiviazione -->
    <add key="ArchiviazioneDIRV_Mittente" value="RVEN" />
    <add key="ArchiviazioneDIRV_Destinatario" value="" />
    <add key="ArchiviazioneDIRV_UserId" value="" />
    <add key="ArchiviazioneDIRV_Password" value="" />
    <add key="ArchiviazioneDIRV_Ente" value="E_RGVT01_01" />
    <add key="ArchiviazioneDIRV_AreaOrg" value="A_RGVT01_01_02" />
    <add key="ArchiviazioneDIRV_EndUserId" value="" />
    <add key="ArchiviazioneDIRV_IdClassificazione" value="60.00.05.00.00-C.120.21.1.B4" />
    <add key="ArchiviazioneDIRV_NomeFileIntestazione" value="XML_MESSAGE" />
    <add key="ArchiviazioneDIRV_NomeFileMetadatiRichiesta" value="metadati.xml" />
    <add key="ArchiviazioneDIRV_NomeFileMetadatiRisposta" value="metadatiRisposta.xml" />
    <add key="ArchiviazioneDIRV_UrlServizioArchiviazione" value="http://dirv3.collaudo.regione.veneto.it/DIRV-Semantica/Documentale/ArchiviazioneConservazione/" />

    <add key="DevLoginUtente" value="developer" />
    <add key="DevLoginDominio" value="" />
    <add key="DevLoginAzienda" value="050000" />
    <add key="DevLoginUrl" value="~/OnVacMain.aspx?AppId=OnVac501&amp;ULSS=050501&amp;Title=SIAVR_1" />
  </appSettings>
  <connectionStrings>
    <add name="OracleSessionStateStoreConnection" providerName="ORACLE" connectionString="" />
  </connectionStrings>
  <system.web>
    <trust level="Full" legacyCasModel="true" />
    <globalization uiCulture="it-IT" culture="it-IT" resourceProviderFactoryType="Onit.Shared.Manager.ResourceProvider.DBResourceProviderFactory, Onit.Shared.Manager" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms">
      <!-- <forms loginUrl="http://localhost/Onit.OnPortal/Login.aspx" cookieless="UseCookies" name=".ASPAUTH" timeout="720" domain="onit.local" /> -->
      <forms loginUrl="DevLogin.aspx" cookieless="UseCookies" name=".ASPAUTH" timeout="720" />
    </authentication>
    <authorization>
      <allow roles="OnVac,OnVac_Veneto100,OnVac_Veneto101,OnVac_Veneto102,OnVac_Veneto103,OnVac_Veneto104,OnVac_Veneto105,OnVac_Veneto106,OnVac_Veneto107,OnVac_Veneto108,OnVac_Veneto109,OnVac_Veneto110,OnVac_Veneto111,OnVac_Veneto112,OnVac_Veneto113,OnVac_Veneto114,OnVac_Veneto115,OnVac_Veneto116,OnVac_Veneto117,OnVac_Veneto118,OnVac_Veneto119,OnVac_Veneto120,OnVac_Veneto121,OnVac_Veneto122" />
      <deny users="*" />
    </authorization>
    <machineKey validationKey="C50B3C89CB21F4F1422FF158A5B42D0E8DB8CB5CDA1742572A487D9401E3400267682B202B746511891C1BAF47F8D25C07F6C39A104696DB51F17C529AD3CABE" decryptionKey="8A9BE8FD67AF6979E7D20198CFEA50DD3D3799C77AF2B72F" validation="3DES" decryption="3DES" />
    <profile defaultProvider="OnAssistnetProfileProvider" enabled="true">
      <providers>
        <clear />
        <add name="OnPortalDbProfileProvider" type="Onit.Shared.Manager.OnitProfile.OnPortalDbProfileProvider, Onit.Shared.Manager" applicationName="OnPortal" />
        <add name="OnAssistnetProfileProvider" type="Onit.Shared.Manager.OnitProfile.OnPortalDbProfileProvider, Onit.Shared.Manager" />
      </providers>
      <properties>
        <clear />
        <add name="Azienda" type="String" serializeAs="String" provider="OnPortalDbProfileProvider" customProviderData="NotExpire" />
        <add name="Dominio" type="String" serializeAs="String" provider="OnPortalDbProfileProvider" customProviderData="NotExpire" />
        <add name="AppId" type="String" serializeAs="String" provider="OnPortalDbProfileProvider" customProviderData="NotExpire" />
        <add name="LinqFilter" type="String" serializeAs="String" provider="OnPortalDbProfileProvider" />
        <add name="LinqFilterParam" type="System.Object[]" serializeAs="Binary" provider="OnPortalDbProfileProvider" />
        <add name="LinqSort" type="string" serializeAs="String" provider="OnPortalDbProfileProvider" />
        <add name="ParamObject" type="System.Object" serializeAs="Binary" provider="OnPortalDbProfileProvider" customProviderData="NotExpire" />
        <add name="HistoryObject" type="System.Object" serializeAs="Binary" provider="OnPortalDbProfileProvider" customProviderData="NotExpire" />
        <add name="AziendaImp" type="String" serializeAs="String" provider="OnPortalDbProfileProvider" customProviderData="NotExpire" />
        <add name="OnAssistnetAppId" type="String" serializeAs="String" provider="OnAssistnetProfileProvider" customProviderData="NotExpire" />
        <add name="OnAssistnetCodicePaziente" type="String" serializeAs="String" provider="OnAssistnetProfileProvider" customProviderData="NotExpire" />
      </properties>
    </profile>
    <membership defaultProvider="OnPortalDbMembershipProvider">
      <providers>
        <clear />
  
        <add name="OnPortalLdapMembershipProvider" type="Onit.Shared.Manager.Security.OnPortalLdapMembershipProvider, Onit.Shared.Manager" connectionString="" AuthenticationType="Secure" connectionUsername="ondemo" connectionPassword="onit!2009" DefaultDomain="LDAP://ondc.onit.local" />

        <add name="OnPortalDbMembershipProvider" type="Onit.Shared.Manager.Security.OnPortalDbMembershipProvider, Onit.Shared.Manager" DBPasswordExpireDays="180" PasswordRegularExpression=".{8,}" MaxDowntime="180" />
      </providers>
    </membership>
    <roleManager defaultProvider="OnPortalDbRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="OnPortalDbRoleProvider" type="Onit.Shared.Manager.Security.OnPortalDbRoleProvider, Onit.Shared.Manager" />
      </providers>
    </roleManager>
    <!-- View State Provider Configuration -->
    <viewstate defaultProvider="DefaultViewStateProvider">
      <providers>
        <add name="DbViewStateProvider" type="Onit.Shared.Manager.ViewState.DbViewStateProvider, Onit.Shared.Manager" />
        <add name="CompressionViewStateProvider" type="Onit.Shared.Manager.ViewState.CompressionViewStateProvider, Onit.Shared.Manager" />
        <add name="DefaultViewStateProvider" type="Onit.Shared.Manager.ViewState.DefaultViewStateProvider, Onit.Shared.Manager" />
        <!-- Se usato da' errore 
          <add name="DbCompressViewStateProvider"
            type="Onit.Shared.Manager.ViewState.DbCompressViewStateProvider, Onit.Shared.Manager"></add>
        -->
        <add name="SessionViewStateProvider" type="Onit.Shared.Manager.ViewState.SessionViewStateProvider, Onit.Shared.Manager" />
      </providers>
    </viewstate>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
          
          <customErrors mode="RemoteOnly" />
    -->
    <customErrors mode="Off" />
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="StateServer" compressionEnabled="true" stateConnectionString="tcpip=localhost:42424" cookieless="false" timeout="1440" />
    <xhtmlConformance mode="Legacy" />
    <httpRuntime requestValidationMode="2.0" /> <!-- per problemi di timeout di stampe o estrazioni, in alcuni casi è stato impostato executionTimeout="600" -->
  </system.web>
  <runtime>
    <gcServer enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="11.0.3300.0" newVersion="11.5.3700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="11.0.3300.0" newVersion="11.5.3700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="11.0.3300.0" newVersion="11.5.3700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Manager" publicKeyToken="19ddaa27b5c6f016" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.12.1.0" newVersion="4.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.NTier" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.NTier.Dal" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Web" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.19.0.0" newVersion="4.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Web.Static" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.OnAssistnet.Contracts" publicKeyToken="61fbd2c2e0ae74de" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.0.0" newVersion="1.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.OnAssistnet.Web" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Web.UI.WebControls.TextboxFinder" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Web.UI.WebControls.Validators" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Web.UI" publicKeyToken="121fae78165ba3d4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2012.2.607.40" newVersion="2012.2.607.40" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Onit.OnAssistnet.OnVac.My.MySettings>
      <setting name="Onit_OnAssistnet_OnVac_Web_wsPS_WsPS" serializeAs="String">
        <value></value>
      </setting>
      <setting name="Onit_OnAssistnet_OnVac_Web_wsSGP_WsSgp" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DigitalSignatureServiceURL" serializeAs="String">
        <!-- In produzione -->
        <!-- <value>/On.Health/On.AssistNet/onvac/common/webservices/DigitalSignatureService.asmx</value> -->
        <!-- In locale, per test -->
        <value>/OnVac501/common/webservices/DigitalSignatureService.asmx</value>
      </setting>
      <setting name="Onit_OnAssistnet_OnVac_Web_wsBatch_wsBatch" serializeAs="String">
        <value>http://localhost:4042/WsBatch/wsbatch.asmx</value>
      </setting>
    </Onit.OnAssistnet.OnVac.My.MySettings>
    <Onit.OnBatch.WebService.Proxy.Properties.Settings>
      <setting name="Onit_OnBatch_WebService_Proxy_wsBatch_wsBatch" serializeAs="String">
        <value>http://localhost:4042/WsBatch/wsbatch.asmx</value>
      </setting>
    </Onit.OnBatch.WebService.Proxy.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">

      <baseAddressPrefixFilters>
        <!-- <add prefix="http://localhost" /> -->
        <add prefix="http://vaccini.onit.local" />
      </baseAddressPrefixFilters>

    </serviceHostingEnvironment>
    <client>
      <endpoint address="http://localhost:4042/OnVac/GestioneConsenso.Wcf/ConsensiService.svc" binding="basicHttpBinding" contract="ConsensiService.IConsensiService" name="BasicHttpBinding_IConsensiService" />
      <endpoint address="http://vaccini.onit.local/On.Health/On.AssistNet/ReazioniAvverseServizio/ReazioniAvverse.svc" binding="basicHttpBinding" contract="IntegrazioneReazioniAvverse.IReazioniAvverse" name="BasicHttpBinding_IReazioniAvverse" />
			<endpoint address="http://localhost:4042/OnVac.IntegrazioneVaccinazioni/RicezioneFlussoACN.svc" binding="basicHttpBinding" contract="FlussoACN.IRicezioneFlussoACN" name="BasicHttpBinding_IRicezioneFlussoACN" />
      <!-- Questo endpoint serve solo in locale per testare l'invio OTP al SAR
      <endpoint address="https://servizitstest.sanita.finanze.it/SistemaTsImmuniWeb/services/sistemaTsImmuni"
        binding="basicHttpBinding" bindingConfiguration="sistemaTsImmuniBinding"
        contract="SistemaTsImmuni.sistemaTsImmuniPT" name="sistemaTsImmuni" />
      -->
      <!-- Questi endpoint servono solo in locale per testare l'invio di ITI-61 e ITI-20
      <endpoint address="http://172.16.6.171:8076/services/DocR" binding="basicHttpBinding"
        bindingConfiguration="DocumentRegistryPortTypeImplPortBinding"
        contract="FSErIndicizzazione.DocumentRegistryCustomPortType"
        name="DocumentRegistryPortTypeImplPort" />
      <endpoint address="http://172.16.6.171:8077/services/Audit" binding="basicHttpBinding"
        bindingConfiguration="AuditRepositoryImplPortBinding" contract="FSEStoricizzazione.AuditCustomRepository"
        name="AuditRepositoryImplPort" />
       -->
    </client>
    <bindings>
      <basicHttpBinding>
      <!-- Questo binding serve solo in locale per testare l'invio OTP al SAR
        <binding name="sistemaTsImmuniBinding" />
      -->
      <!-- Questi binding servono solo in locale per testare l'invio di ITI-61 e ITI-20
        <binding name="DocumentRegistryPortTypeImplPortBinding" />
        <binding name="AuditRepositoryImplPortBinding" />
      -->
      </basicHttpBinding>
      <netMsmqBinding>
        <binding name="NetMsmqBinding_IAllineaPazienteSendService">
          <security mode="None" />
        </binding>
      </netMsmqBinding>
    </bindings>
  </system.serviceModel>
  <location path="." inheritInChildApplications="false">

    <!--
  Url per il consenso su XMPI
  http://venus/IRIDE/mainLogin.do?ACTION=LOGIN_SSO&cookie={0}&URL=sianc.paziente.do?ACTION=EDIT_TOCONSENSI|idPaziente@={1}
  
  <system.diagnostics>

      <trace autoflush="true" indentsize="3">
        <listeners>
          <add name="WebPageTraceListener" />
          <add name="FileLogTraceListener" />
        </listeners>
      </trace>

      <sharedListeners>
        <add name="WebPageTraceListener"
                type="System.Web.WebPageTraceListener, 
                    System.Web, Version=2.0.3600.0, 
                    Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>

        <add name="FileLogTraceListener"
                  type="Microsoft.VisualBasic.Logging.FileLogTraceListener, 
                        Microsoft.VisualBasic, Version=8.0.0.0, 
                        Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, 
                        processorArchitecture=MSIL"
                  Location="Custom"
                  CustomLocation="C:\Inetpub\wwwroot\Portale\OnitServizi\LogServizi\"
                  baseFilename="onvac"
                  initializeData="FileLogWriter"
                  LogFileCreationSchedule="Daily" />
      </sharedListeners>
    </system.diagnostics>-->
    <system.web>
      <!--  COMPILAZIONE CON DEBUG DINAMICO
          Impostare compilation debug="true" per inserire i simboli di debug (informazioni .pdb)
          nella pagina compilata. Poiche' questo comporta la creazione di un file piu' grande e piu' lento da eseguire,
          si consiglia di impostare il valore true solo durante il debug e di usare
          false in tutti gli altri casi. Per ulteriori informazioni, vedere la documentazione relativa
          al debug dei file ASP.NET.
      -->
      <compilation targetFramework="4.0">
        <assemblies>
          <!-- Infragistics -->
          <add assembly="Infragistics2.WebUI.Shared.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
        </assemblies>
      </compilation>
      <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
        <controls>
          <!-- Infragistics controls -->
          <add tagPrefix="igtbar" namespace="Infragistics.WebUI.UltraWebToolbar" assembly="Infragistics2.WebUI.UltraWebToolbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
          <add tagPrefix="igtbl" namespace="Infragistics.WebUI.UltraWebGrid" assembly="Infragistics2.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
          <add tagPrefix="igtab" namespace="Infragistics.WebUI.UltraWebTab" assembly="Infragistics2.WebUI.UltraWebTab.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
          <add tagPrefix="iglbar" namespace="Infragistics.WebUI.UltraWebListbar" assembly="Infragistics2.WebUI.UltraWebListbar.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
          <add tagPrefix="ignav" namespace="Infragistics.WebUI.UltraWebNavigator" assembly="Infragistics2.WebUI.UltraWebNavigator.v11.1, Version=11.1.20111.1006, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb" />
          <!-- Onit controls -->
          <add tagPrefix="onit" namespace="Onit.Web.UI.WebControls" assembly="Onit.Web.UI.WebControls.wwDataBinder" />
          <add tagPrefix="onit" namespace="Onit.OnAssistnet.Web.UI.WebControls.CheckBox" assembly="Onit.OnAssistnet.Web" />
          <add tagPrefix="onit" namespace="Onit.OnAssistnet.Web.UI.WebControls.CheckBoxList" assembly="Onit.OnAssistnet.Web" />
          <!-- Telerik -->
          <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
          <add tagPrefix="telerik" namespace="Telerik.ReportViewer.WebForms" assembly="Telerik.ReportViewer.WebForms" />
        </controls>
      </pages>
      <httpHandlers>
        <add verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" />
        <remove verb="*" path="*.asmx" />
        <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add verb="GET,HEAD" path="ScriptResource.axd" validate="false" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <!-- handler per la gestione degli accessi agli applicativi -->
        <add verb="*" path="UserSyncHttpHandler.axd" type="Onit.Shared.Web.HttpHandlers.UserSyncHttpHandler, Onit.Shared.Web" />
        <add verb="*" path="Telerik.ReportViewer.axd" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=4.2.10.1221, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" validate="true" />
      </httpHandlers>
      <httpModules>
        <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </httpModules>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=4.2.10.1221, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode" />
        <add name="Ajax" verb="POST,GET" path="ajax/*.ashx" type="Ajax.PageHandlerFactory, Ajax" preCondition="integratedMode" />        
      </handlers>
      <validation validateIntegratedModeConfiguration="False" />
    </system.webServer>    
  </location>
  <location path="DevLogin.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="OnVacMain.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>