<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="Log" type="Onit.OnAssistnet.OnVac.Log.Config.ConfigHandler, Onit.OnAssistnet.OnVac.Log" />
		<section name="OnitNTierConfiguration" type="Onit.Shared.NTier.Configuration.OnitNTierConfigurationSettingHandler, Onit.Shared.NTier" />
	</configSections>
	<Log enable="true" throwexceptions="true">
		<add name="LogDB" type="Onit.OnAssistnet.OnVac.Log.LogWriterProvider.DbLogWriterProvider" enable="true">
			<par name="DataProvider" value="OracleClient" />
			<par name="FiltroCriticita" value="0,1,2,3" />
		</add>
	</Log>
	<OnitNTierConfiguration xmlns="http://schemas.onit.it/OnitNTierConfigurationSetting.xsd">
		<dal dalFactoryType="Onit.OnPortal.NTier.DL.LinqToEntities.LinqToEntitiesDalFactory, Onit.OnPortal.NTier.DL.LinqToEntities" />
		<OnitManager ManagerAppName="OnPortal" Azienda="050000" AziendaSys="050000" Provider="ORACLE" ConnectionString="" />
	</OnitNTierConfiguration>

	<appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="AppId" value="OnVac501" />
		<add key="CodiceAzienda" value="050000" />
		<add key="UserId" value="0" />
		<add key="EventLogLevel" value="0" />
		<add key="CodiceConsultorio" value="VAC" />
		<!-- 0: solo eccezioni non gestite; 1: anche ricezione ok -->
		<add key="EventLogAppName" value="OnVac.LogNotifiche" />
		<add key="SoloParametriAggiornati" value="false" />
		<!-- Nuovo paramtro per getire lo stato non invare. Nello specifico e' stato inserito per non inviare la storicizzazione (iti20) di fse. 1 invia 0 noninviare-->
		<add key="Inviare" value="1"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime maxRequestLength="214748364" executionTimeout="9999" targetFramework="4.5.2" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<bindings>
			<basicHttpBinding>
				<binding maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" transferMode="Streamed">
					<readerQuotas maxDepth="2147483647" maxArrayLength="2147483647" maxStringContentLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
				</binding>
			</basicHttpBinding>
		</bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Manager" publicKeyToken="19ddaa27b5c6f016" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.12.1.0" newVersion="4.12.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.NTier.Dal" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Web" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.19.0.0" newVersion="4.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Web.Static" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Web.UI.WebControls.Validators" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Web.UI.WebControls.TextboxFinder" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.NTier" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.OnAssistnet.Web" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.0.0" newVersion="2.8.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
