/* Elements ****************/

a {
    color: #3333CC;
    font-family: Arial;
    font-size: 12px;
    text-decoration: none;
}

    a:hover {
        color: #3333CC;
        font-family: Arial;
        font-size: 12px;
        text-decoration: underline;
    }

body {
    margin: 0px;
    height: 100%;
}

form {
    height: 100%;
}

img {
    border: 0px;
    margin: 0px;
}


/******************************************************/
/* Classes ****************/

.Title {
    border-top: solid 2px white;
    font-family: Calibri;
    color: White;
    font-size: 16px;
    font-weight: normal;
    font-weight: bold;
    background-color: #058;
    text-align: left;
    padding-left: 4px;
}

.Title0 {
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    color: White;
}

.Title1 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    color: White;
}

.Title2 {
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: White;
}

.Title3 {
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    color: White;
}

.nowrap {
    white-space: nowrap
}

.Label {
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
    text-align: right;
}

.label_right {
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
    text-align: right;
}

.label_left {
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
    text-align: left;
}

.label_center {
    font-family: Arial,Tahoma,Verdana;
    font-size: 12px;
    text-align: center;
}

.Label_Disabilitato {
    font-family: Arial;
    font-size: 12px;
    text-align: right;
}

.Label_ErrorMsg {
    font-family: Arial;
    font-size: 12px;
    background-color: Transparent;
    color: Red;
    text-align: left;
    overflow-y: auto;
}

.Label_Msg {
    font-family: Arial;
    font-size: 12px;
    background-color: Transparent;
    color: Blue;
    text-align: left;
    overflow-y: auto;
}

.TextBox_Stringa {
    /*background-color: White;*/
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: left;
}

.TextBox_Stringa_Disabilitato {
    background-color: Gainsboro;
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: left;
}

.TextBox_Stringa_Obbligatorio {
    background-color: LightYellow;
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: left;
}

.TextBox_Numerico {
    /*background-color: White;*/
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: right;
}

.TextBox_Numerico_Disabilitato {
    background-color: Gainsboro;
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: right;
}

.TextBox_Numerico_Obbligatorio {
    background-color: LightYellow;
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: right;
}

.TextBox_Data {
    /*background-color: White;*/
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

.TextBox_Data_Disabilitato {
    background-color: Gainsboro;
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

.TextBox_Data_Obbligatorio {
    background-color: LightYellow;
    color: Black;
    font-family: Arial;
    font-size: 12px;
    text-align: center;
}

.ToolBar {
    font-family: Arial,Tahoma,Verdana;
    background-color: ActiveBorder;
    font-size: 11px;
    border: 2px outset;
}

.Sezione {
    border-right: 2px outset;
    border-top: 2px outset;
    font-weight: bold;
    font-size: 12px;
    border-left: 2px outset;
    border-bottom: 2px outset;
    font-family: Arial;
    height: 18px;
    background-color: #e7e7ff;
}

.Sezione_Left {
    border-right: 2px outset;
    border-top: 2px outset;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 2px outset;
    font-family: Arial;
    height: 18px;
    background-color: #e7e7ff;
    border-left: 1px outset;
}

.DataGrid, TABLE.DataGrid TD {
    border: 0px;
    font-family: Arial;
    font-size: 12px;
}

tr.Pager a, TD.Pager TABLE a {
    color: White;
    font-family: Arial;
    font-size: 12px;
}

tr.Pager td, TD.Pager TABLE, th.Pager {
    background-color: #4A3C8C;
    color: White;
    font-family: Arial;
    font-size: 12px;
    text-align: left;
    border: 1px solid White;
    border-left: 0px;
    border-right: 0px;
}

tr.Header th {
    color: White;
    background-color: #4A3C8C;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    border: 0px;
    padding: 3px;
}


tr.Header a, TD.Header TABLE a {
    color: White;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

    tr.Header a:hover, TD.Header TABLE a:hover {
        color: White;
        font-family: Arial;
        font-size: 12px;
        font-weight: bold;
        text-decoration: underline;
    }

tr.Header td, TD.Header TABLE td, TD.Header, th.header {
    color: White;
    background-color: #4A3C8C;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    border: 0px;
    padding: 3px;
}

tr.Selected td, TD.Selected TABLE, TD.Selected {
    background-color: #ffff66;
    border: 0px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}


tr.Selected_Cal td, TD.Selected_Cal TABLE, TD.Selected_Cal {
    background-color: #a9a9a9;
    border: 0px;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

/* STILI PER DATAGRID INFRAGISTICS  (Stile 'OnRep')*/

/* INIZIO VERSIONE 2003 */

/* Frame (Contorno) */
.InfraDgr_Frame /* OK */ {
    border-width: 1px;
    border-color: White;
    border-style: solid;
}

/* Header */
.InfraDgr_Header {
    /*background-color: #2B64A7;*/
    background-color: #2B64C0;
    border-top-color: #e7ebf0;
    border-left-color: #e7ebf0;
    border-bottom-color: Navy;
    border-right-color: Navy;
    border-style: solid;
    border-width: 1px;
    color: White;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    padding: 2px;
}

/* Righe normali*/
.InfraDgr_Row {
    /*background-color: #C7D5E0;*/
    background-color: #C7D5EE;
    font-family: Arial;
    font-size: 12px;
    color: Navy;
    border-width: 1px;
    border-style: solid;
    border-top-color: #e7ebf0;
    border-left-color: #e7ebf0;
    border-bottom-color: Navy;
    border-right-color: Navy;
    /*padding: 2px;*/
}

/* righe alternate */
.InfraDgr_RowAlternate {
    /*background-color: #e7ebf0;/*#E9E9F7;*/
    background-color: #E1EDFF;
    font-family: Arial;
    font-size: 12px;
    color: Navy;
    border-width: 1px;
    border-style: solid;
    border-top-color: #e7ebf0;
    border-left-color: #e7ebf0;
    border-bottom-color: Navy;
    border-right-color: Navy;
    /*padding: 2px;*/
}

/* Righe selezionate */
.InfraDgr_SelectedRow {
    background-color: Yellow;
    border-width: 1px;
    border-top-color: #e7ebf0;
    border-left-color: #e7ebf0;
    border-bottom-color: Navy;
    border-right-color: Navy;
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

/* selettore riga*/
.InfraDgr_RowSelector {
    background-color: lightblue;
    border-style: solid;
    border-width: 1px;
    border-top-color: #e7ebf0;
    border-left-color: #e7ebf0;
    border-bottom-color: Navy;
    border-right-color: Navy;
    text-align: center;
}

/* FINE VERSIONE 2003 */



/* FINE STILI PER DATAGRID INFRAGISTICS*/


/* STILI PER TREEVIEW INFRAGISTICS */
/* Generale (mettere BorderStyle="None" se non si vuole il bordo)*/
.InfraTree_Css {
    padding: 5px;
    background: #E1EDFF;
    border-style: solid;
    border-width: 1px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
}

/* Nodo normale */
.InfraTree_DefaultItem {
    border-color: #E1EDFF;
    border-style: solid;
    border-width: 1px;
    padding: 1px 2px 2px 2px;
    cursor: default;
    color: Navy;
    font-weight: normal;
}

/* Nodo selezionato */
.InfraTree_Hilite {
    /*background:#0056D7; */
    background: #0092FF;
    border-color: #505050;
    color: White;
    border-style: solid;
    border-width: 1px;
    padding: 1px 2px 1px 2px;
    cursor: default;
    font-weight: normal;
}

.InfraTree_Hover {
    /*background:#0000A9; */
    background: #B4DCFF;
    border-color: Navy;
    color: Navy;
    border-style: solid;
    border-width: 1px;
    padding: 1px 2px 1px 2px;
    cursor: hand;
    font-weight: normal;
}


.InfraUltraTreeView {
    color: Black;
    font-family: MS Sans Serif;
    font-size: 14px;
}
/* FINE STILI PER TREEVIEW INFRAGISTICS */


/* STILI PER TAB INFRAGISTICS */
/* La property BarHeight va impostata a 0.
   Se si vuole un colore di sfondo e un bordo nel tab, ma non nel tabstrip in alto, 
   impostarli nelle property del tab.
   Se è necessaria una tabella all'interno di un tab, bisogna impostare il colore di sfondo nell'html
*/
.InfraUltraWebTab {
    font-family: Arial;
    font-size: 12px;
    color: Navy;
    font-weight: normal;
}

.InfraTab_Css {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: Navy;
    font-weight: normal;
    border-LEFT-STYLE: solid;
    border-LEFT-width: 1PX;
    border-LEFT-color: #0056D7;
}

.InfraTab_Css_2 {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: Navy;
    font-weight: normal;
    background-color: #E1EDFF;
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: #0056D7;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #0056D7;
}

.InfraTab_Default {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: Navy;
    font-weight: normal;
    background-color: #E1EDFF;
    cursor: default;
}

.InfraTab_Disabled {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: Silver;
    font-weight: normal;
    background-color: #E1EDFF;
    cursor: default;
}

.InfraTab_Selected {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: Navy;
    font-weight: bold;
    cursor: default;
    background-color: #E1EDFF;
}

.InfraTab_Hover {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #0000FF;
    font-weight: normal;
    cursor: hand;
}

.UltraTabButton {
    font-family: Arial,Tahoma,Verdana;
    background-color: #95B7E8;
    font-size: 11px;
    border: 2px outset;
}

/* FINE STILI PER TAB INFRAGISTICS */


/* STILI PER DATAGRID INFRAGISTICS */

/* INIZIO VERSIONE 2003 */

/* Header */
.InfraDgr_Header2 {
    background-color: #4A3C8C;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #E7E7FF;
    height: 25px;
}

/* Pager */
.InfraDgr_Pager2, .InfraDgr_Pager2 a, .InfraDgr_Pager2 a:hover {
    color: #ffffff;
    font-family: Arial;
    padding-left: 2px;
    padding-right: 2px;
}

.InfraDgr_Pager2 {
    background-color: #4A3C8C;
    font-weight: bold;
    font-size: 13px;
}

    .InfraDgr_Pager2 a:hover {
        text-decoration: underline;
        font-weight: normal;
        font-size: 10px;
    }

    .InfraDgr_Pager2 a {
        text-decoration: none;
        font-weight: normal;
        font-size: 10px;
    }

/* Righe normali*/
td.InfraDgr_Row2 {
    background-color: #E7E7FF;
    color: #000000;
    height: 25px;
}

/* righe alternate */
td.InfraDgr_RowAlternate2 {
    background-color: whitesmoke;
    color: #000000;
    height: 25px;
}


/* selettore riga*/
.InfraDgr_RowSelector2 {
    background-color: #4A3C8C;
    text-align: center;
}

/* Righe selezionate */
.InfraDgr_SelectedRow2, td.InfraDgr_SelectedRow2 {
    background-color: #ffff66;
    font-weight: bold;
}

.InfraDgr_Header2, .InfraDgr_Pager2, .InfraDgr_Row2, .InfraDgr_RowAlternate2, .InfraDgr_SelectedRow2 {
    font-family: Arial;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
}

/* FINE VERSIONE 2003 */

/* INIZIO VERSIONE 2005 */


/* Header */
.Infra2Dgr_Header {
    background-color: #4A3C8C;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    border-bottom: 1px solid #E7E7FF;
    height: 25px;
}

/* Pager */
.Infra2Dgr_Pager, .Infra2Dgr_Pager a, .Infra2Dgr_Pager a:hover {
    color: #ffffff;
    font-family: Arial;
    padding-left: 2px;
    padding-right: 2px;
}

.Infra2Dgr_Pager2 {
    background-color: #4A3C8C;
    font-weight: bold;
    font-size: 13px;
}

.Infra2Dgr_Pager a:hover {
    text-decoration: underline;
    font-weight: normal;
    font-size: 10px;
}

.Infra2Dgr_Pager a {
    text-decoration: none;
    font-weight: normal;
    font-size: 10px;
}

/* Righe normali*/
.Infra2Dgr_Row {
    font-weight: normal;
    background-color: #E7E7FF;
    color: #000000;
    height: 25px;
}

/* righe alternate */
.Infra2Dgr_RowAlternate {
    font-weight: normal;
    background-color: whitesmoke;
    color: #000000;
    height: 25px;
}


/* selettore riga*/
.Infra2Dgr_RowSelector {
    background-color: #4A3C8C;
    text-align: center;
}

/* Righe selezionate */
.Infra2Dgr_SelectedRow {
    background-color: #ffff66;
    font-weight: bold;
}

.Infra2Dgr_Header, .Infra2Dgr_Pager, .Infra2Dgr_Row, .Infra2Dgr_RowAlternate, .Infra2Dgr_SelectedRow {
    font-family: Arial;
    font-size: 12px;
    padding-left: 3px;
    padding-right: 3px;
}

.Infra2Dgr_Pager, .Infra2Dgr_Row, .Infra2Dgr_RowAlternate, .Infra2Dgr_SelectedRow {
    text-align: left;
}

/* FINE VERSIONE 2005 */


/* FINE STILI PER DATAGRID INFRAGISTICS*/



/* STILI PER TAB INFRAGISTICS (Stile 'OnRep') */
/* La property BarHeight va impostata a 0.
   Se si vuole un colore di sfondo e un bordo nel tab, ma non nel tabstrip in alto, 
   impostarli nelle property del tab.
   Se è necessaria una tabella all'interno di un tab, bisogna impostare il colore di sfondo nell'html
*/

.InfraUltraWebTab2 {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
}


.InfraTab_Default2 {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: gray;
    font-weight: normal;
    background-color: whitesmoke;
    padding-left: 3px;
    padding-right: 3px;
}

.InfraTab_Disabled2 {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #e0e0e0;
    font-weight: normal;
    background-color: whitesmoke;
    padding-left: 3px;
    padding-right: 3px;
}

.InfraTab_Selected2 {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #000000;
    font-weight: bold;
    background-color: whitesmoke;
    padding-left: 3px;
    padding-right: 3px;
}

.InfraTab_Hover2 {
    font-family: Arial, Verdana, Tahoma;
    font-size: 12px;
    color: #000000;
    font-weight: normal;
    background-color: whitesmoke;
    padding-left: 3px;
    padding-right: 3px;
}



/* FINE STILI PER TAB INFRAGISTICS */

/*** STILI PER LISTBAR INFRAGISTICS ***/


.InfraListBar_Style {
    border: 2px solid steelblue;
    background-color: steelblue;
}

.InfraListBar_GroupStyle {
    background-color: #d2eaff;
    border-style: solid;
    border-color: steelblue;
    border-width: 0px 1px 0px 1px;
}

.InfraListBar_GroupButtonStyle, .InfraListBar_GroupButtonHoverStyle, .InfraListBar_GroupButtonSelectedStyle, .InfraListBar_ItemHoverStyle, .InfraListBar_ItemStyle {
    font-family: Calibri, Arial, Verdana, Tahoma;
    font-size: 13px;
    text-align: center;
    cursor: default;
}

.InfraListBar_GroupButtonStyle, .InfraListBar_GroupButtonHoverStyle, .InfraListBar_GroupButtonSelectedStyle {
    color: white;
    background-color: #3771a1;
    border: 1px solid #048;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
    height: 25px;
}

.InfraListBar_GroupButtonHoverStyle {
    cursor: pointer;
    background-color: #73b5ef;
    color: #048;
}

.InfraListBar_ItemHoverStyle, .InfraListBar_ItemStyle {
    padding-bottom: 8px;
    padding-top: 8px;
}

.InfraListBar_ItemHoverStyle {
    font-weight: bold;
    color: #048;
    background-color: aliceblue;
    cursor: pointer;
}

.InfraListBar_ItemStyle {
    font-weight: normal;
}

.InfraListBar {
    font-family: Calibri, Arial, Verdana, Tahoma;
    font-size: 13px;
    text-align: center;
}

.Menu_Normal {
    color: black;
    font-weight: normal;
}

    .Menu_Normal:hover {
        color: blue;
        font-weight: bold;
    }

.Menu_Select {
    color: Black;
    font-weight: bold;
}

    .Menu_Select:hover {
        color: blue;
        font-weight: bold;
    }

/* FINE STILI PER LISTBAR INFRAGISTICS */

.Selected INPUT, .Select SELECT {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
}

tr.Item td, TD.Item TABLE, TD.Item {
    background-color: #E7E7FF;
    font-family: Arial;
    font-size: 12px;
    border: 0px;
}

tr.Item_border td, TD.Item_border TABLE, TD.Item_border {
    background-color: #E7E7FF;
    font-family: Arial;
    font-size: 12px;
    border: solid 1px black;
}

tr.Alternating td, TD.Alternating TABLE, TD.Alternating {
    background-color: WhiteSmoke;
    font-family: Arial;
    font-size: 12px;
    border: 0px;
}

.TabstripNormale {
    background-color: #A8BDF6;
    font-family: Verdana;
    font-size: 10px;
}

.TabstripSelezionato {
    background-color: #058;
    border: 1px solid #00008B;
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
}

TD.TabstripSelezionato A {
    color: #FFFFFF;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
}

TD.TabstripNormale A {
    font-family: Verdana;
    font-size: 10px;
}

.Button {
    background-color: LightSkyBlue;
    font-family: Arial;
    font-size: 12px;
    border: 1px solid;
    color: Black;
    cursor: hand;
    /*padding: 3px;*/
    position: absolute;
}

.ButtonPwd {
    background-color: #DADFF8;
    font-family: Verdana;
    font-size: 11px;
    /*border: 1px solid;*/
    color: Black;
    cursor: hand;
    /*padding: 3px;*/
    position: absolute;
}

.alert {
    font-weight: bold;
    font-size: 12px;
    width: 100%;
    color: red;
    font-family: Arial;
    background-color: lemonchiffon;
}

.w100p {
    width: 100%;
}

.w70p {
    width: 70%;
}

.w50p {
    width: 50%;
}

.w30p {
    width: 30%;
}

.w20p {
    width: 20%;
}

/*Toolbar, come in CheckCdc*/
.toolbar_button {
    font-size: 12px;
    background-image: url(../images/toolbar.gif);
    font-family: Tahoma;
}

.toolbar_button_def {
    font-size: 12px;
    width: 110px;
    cursor: hand;
    font-family: Tahoma;
    text-align: center;
    padding: 1px;
}

.toolbar_button_hover {
    border-right: mediumblue 1px solid;
    border-top: mediumblue 1px solid;
    font-size: 12px;
    border-left: mediumblue 1px solid;
    width: 110px;
    cursor: hand;
    border-bottom: mediumblue 1px solid;
    font-family: Tahoma;
    background-color: #ffff66;
    text-align: center;
}

.toolbar_button_selected {
    font-family: Tahoma;
    font-size: 12px;
    background-color: #99ccff;
    text-align: center;
    width: 110px;
    cursor: hand;
}
