/* RadToolBar / base */

/* <wrappers and common styles> */

.RadToolBar
{
	margin: 0;
	padding: 0;
}

.RadToolBar
{
	cursor: default;
	text-align: left;
}

.RadToolBar_rtl
{
	text-align: right;
	float: right;
}

.RadToolBar,
.RadToolBar .rtbUL,
.RadToolBar .rtbItem, 
.RadToolBar .rtbWrap, .RadToolBar .rtbOut, .RadToolBar .rtbMid, .RadToolBar .rtbIn
{
	white-space: nowrap;
	vertical-align: top;
	
	display: -moz-inline-box;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.RadToolBar .rtbSplBtn .rtbSplBtnActivator, .RadToolBar .rtbChoiceArrow
{
	white-space: nowrap;
	vertical-align: top;
	
	display: -moz-inline-block;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.RadToolBar .rtbInner
{
	padding: 1px;
}

.RadToolBar .rtbUL,
.RadToolBar .rtbItem
{
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}

* html .RadToolBar .rtbUL,
* html .RadToolBar .rtbItem { vertical-align: top; }
*+html .RadToolBar .rtbUL,
*+html .RadToolBar .rtbItem { vertical-align: top; }


/* </wrappers and common styles> */

/* <items> */

.RadToolBar .rtbItem
{
	margin: 0 1px; /* spacing between items */
}

.RadToolBar_Vertical .rtbUL
{
	display: -moz-inline-block;
}

.RadToolBar_Vertical .rtbItem
{
	display: block;
	zoom: normal;
	margin: 0;
}

.RadToolBar .rtbTemplate
{
	line-height: 26px;
}

.RadToolBar .rtbWrap
{
	text-decoration: none;
	vertical-align: top;
	outline: 0;
	cursor: pointer;
}

.RadToolBar .rtbDisabled .rtbWrap
{
	cursor: default;
}

.RadToolBar .rtbMid
{
	padding: 0 3px 3px 0;
}

.RadToolBar .rtbIn
{
	padding: 3px 0 0 3px;
}

.RadToolBar .rtbIn,
.RadToolBar .rtbIn *
{
	vertical-align: middle;
}

.RadToolBar .rtbIcon
{
	border: 0;
	padding: 2px;
}

.RadToolBar .rtbIcon+.rtbText,
x:-moz-any-link
{
	margin-top: 2px;
}

.RadToolBar_Vertical .rtbIcon+.rtbText,
.RadToolBar .rtbDropDown.rtbDisabled .rtbIcon+.rtbText,
.RadToolBar .rtbText,
x:-moz-any-link
{
	padding: 2px;
	margin-top: -5px;
}

/* <disabled states> */
.RadToolBar .rtbDisabled
{
	-moz-opacity: .4;
	opacity: .4;
	-ms-filter: "alpha(opacity=40)";
}

* html .RadToolBar .rtbDisabled .rtbIcon,
* html .RadToolBar .rtbDisabled .rtbChoiceArrow { filter: alpha(opacity=40); } /* Opacity hack for IE6 */

*+html .RadToolBar .rtbDisabled .rtbIcon,
*+html .RadToolBar .rtbDisabled .rtbChoiceArrow { filter: alpha(opacity=40); } /* Opacity hack for IE7 */

@media screen and (-webkit-min-device-pixel-ratio:0) /* Opacity hack for WebKit */
{
	.RadToolBar .rtbDisabled { opacity: 1; }
	.RadToolBar .rtbDisabled .rtbIcon,
	.RadToolBar .rtbDisabled .rtbChoiceArrow { opacity: .4; }
}

/* </disabled states> */

.RadToolBar .rtbVOriented
{
	text-align: center;
}

.RadToolBar .rtbDropDown .rtbVOriented { position: relative; padding-right: 20px; }
.RadToolBar .rtbSplBtn .rtbVOriented { position: relative; padding-right: 25px; }
.RadToolBar_rtl .rtbDropDown .rtbVOriented { padding-right: 0; padding-left: 20px; }
.RadToolBar_rtl .rtbSplBtn .rtbVOriented { padding-right: 0; padding-left: 25px; }

.RadToolBar .rtbVOriented .rtbIcon
{
	display: block;
	margin: 0 auto;
}

.RadToolBar .rtbVOriented,
x:-moz-any-link
{
	display: block;
}

.RadToolBar .rtbVOriented .rtbChoiceArrow
{
	position: absolute;
	top: 50%;
	margin-top: -9px;
	right: 0;
}
.RadToolBar_rtl .rtbVOriented .rtbChoiceArrow { right: auto; left: 0; }

/* in ie, text-align: center does the trick (and margins fux0r items) */
* html .RadToolBar .rtbVOriented .rtbIcon { margin: 0; }
*+html .RadToolBar .rtbVOriented .rtbIcon { margin: 0; }

/* <separators> */

.RadToolBar .rtbSeparator 
{
	line-height: 0;
	font-size: 0;
	vertical-align: top;
}

.RadToolBar_Horizontal .rtbSeparator 
{
	height: 25px;
	width: 1px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
}
* html .RadToolBar_Horizontal .rtbSeparator { display: inline; vertical-align: middle; top: 50%; margin-top: -20px; }
*+html .RadToolBar_Horizontal .rtbSeparator { display: inline; vertical-align: middle; top: 50%; margin-top: -20px; }

.RadToolBar_Vertical .rtbSeparator 
{
	width: 25px;
	height: 1px;
}

/* </separators> */

/* <the lovely small arrow> */

.RadToolBar .rtbChoiceArrow
{
	width: 18px;
	height: 15px;
	margin-left: 7px;
}
.RadToolBar_rtl .rtbChoiceArrow { margin-left: 0; margin-right: 7px; }

.RadToolBar .rtbSplBtnHovered .rtbChoiceArrow,
.RadToolBar .rtbSplBtnFocused .rtbChoiceArrow,
.RadToolBar .rtbSplBtnExpanded .rtbChoiceArrow
{
	width: 20px;
	margin-left: 5px;
}
.RadToolBar_rtl .rtbSplBtnHovered .rtbChoiceArrow,
.RadToolBar_rtl .rtbSplBtnFocused .rtbChoiceArrow,
.RadToolBar_rtl .rtbSplBtnExpanded .rtbChoiceArrow { margin-left: 0; margin-right: 5px; }

/* </the lovely small arrow> */

/* <background positions> */

.RadToolBar .rtbDropDownExpanded .rtbWrap,
.RadToolBar .rtbSplBtnExpanded .rtbWrap,
.RadToolBar .rtbSplBtnFocused .rtbWrap,
.RadToolBar .rtbChecked .rtbWrap,
.RadToolBar .rtbItemClicked .rtbWrap,
.RadToolBar .rtbItemFocused .rtbWrap,
.RadToolBar .rtbItemHovered .rtbWrap
{
	background-position: 0 100%;
}

.RadToolBar .rtbDropDownExpanded .rtbOut,
.RadToolBar .rtbSplBtnExpanded .rtbOut,
.RadToolBar .rtbSplBtnFocused .rtbOut,
.RadToolBar .rtbItemFocused .rtbOut,
.RadToolBar .rtbItemClicked .rtbOut,
.RadToolBar .rtbChecked .rtbOut,
.RadToolBar .rtbItemHovered .rtbOut
{
	background-position: 100% 0;
}

.RadToolBar .rtbDropDownExpanded .rtbMid,
.RadToolBar .rtbSplBtnExpanded .rtbMid,
.RadToolBar .rtbSplBtnFocused .rtbMid,
.RadToolBar .rtbItemFocused .rtbMid,
.RadToolBar .rtbItemClicked .rtbMid,
.RadToolBar .rtbChecked .rtbMid,
.RadToolBar .rtbItemHovered .rtbMid
{
	background-position: 100% 100%;
}

.RadToolBar .rtbDropDownExpanded .rtbIn,
.RadToolBar .rtbSplBtnExpanded .rtbIn,
.RadToolBar .rtbSplBtnFocused .rtbIn,
.RadToolBar .rtbItemFocused .rtbIn,
.RadToolBar .rtbItemClicked .rtbIn,
.RadToolBar .rtbChecked .rtbIn,
.RadToolBar .rtbItemHovered .rtbIn
{
	background-position: 0 0;
}

.RadToolBar .rtbSplBtn .rtbChoiceArrow,
.RadToolBar .rtbSplBtnExpanded .rtbChoiceArrow,
.RadToolBar .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar .rtbChoiceArrow,
.RadToolBar .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar .rtbSplBtnHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar .rtbSplBtnHovered .rtbChoiceArrow,
.RadToolBar .rtbItemHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar .rtbItemHovered .rtbChoiceArrow,
.RadToolBar .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar .rtbItemClicked .rtbChoiceArrow { background-position: 100% 50%; }

.RadToolBar_rtl .rtbSplBtn .rtbChoiceArrow,
.RadToolBar_rtl .rtbSplBtnExpanded .rtbChoiceArrow,
.RadToolBar_rtl .rtbItem .rtbVOriented .rtbChoiceArrow,
.RadToolBar_rtl .rtbChoiceArrow,
.RadToolBar_rtl .rtbSplBtnClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_rtl .rtbSplBtnClicked .rtbChoiceArrow,
.RadToolBar_rtl .rtbSplBtnHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar_rtl .rtbSplBtnHovered .rtbChoiceArrow,
.RadToolBar_rtl .rtbItemHovered .rtbVOriented .rtbChoiceArrow,
.RadToolBar_rtl .rtbItemHovered .rtbChoiceArrow,
.RadToolBar_rtl .rtbItemClicked .rtbVOriented .rtbChoiceArrow,
.RadToolBar_rtl .rtbItemClicked .rtbChoiceArrow { background-position: 0 50%; }

/* </background positions> */

/* </items> */

/* <drop-down> */

.RadToolBarDropDown
{
	border-style: solid;
	border-width: 1px;
	position: relative;
	text-align: left;
	cursor: default;
	background-repeat: repeat-y;
	background-position: 0 0;
	padding: 0;
	margin: 0;
}

.RadToolBarDropDown_rtl
{
	text-align: right;
	background-position: 100% 0;
}

.rtbScrollWrap
{
	position: absolute;
	overflow: hidden;
	left: 0;
}

.RadToolBarDropDown .rtbGroup
{
	display: block;
	padding: 0;
	margin: 0;
}

.RadToolBarDropDown .rtbSlide
{
	position: absolute;
	overflow: hidden;
	display: none;
	_height: 0;
	text-align: left;
	padding: 0;
	margin: 0;
}

.RadToolBarDropDown_rtl .rtbSlide
{
	text-align: right;
}

.RadToolBarDropDown .rtbGroup
{
	padding: 1px 0;
}

.RadToolBarDropDown .rtbItem,
.RadToolBarDropDown .rtbSeparator
{
	position: relative;
	list-style-type: none;
	display: block;
}

.RadToolBarDropDown .rtbItem
{
	margin: 0;
	padding: 0 0 0 2px;
	outline: 0;
}

.RadToolBarDropDown .rtbWrap,
.RadToolBarDropDown .rtbTemplate
{
	line-height: 22px;
	position: relative;
}

.RadToolBarDropDown .rtbWrap
{
	overflow: hidden;
	display: block;
	text-decoration: none;
	cursor: pointer;
	padding: 0 0 0 35px;
	margin: 0;
}
.RadToolBarDropDown_rtl .rtbWrap { padding: 0 35px 0 0; }
* html div.RadToolBarDropDown .rtbWrap { position: static; line-height: 22px; }
* html div.RadToolBarDropDown_rtl .rtbWrap { zoom: 1; }

.RadToolBarDropDown .rtbIcon
{
	border: 0;
	vertical-align: top;
	position: absolute;
	left: 5px;
	top: 2px;
	display: block;
}
.RadToolBarDropDown_rtl .rtbIcon { left: auto; right: 5px; }
* html .RadToolBarDropDown .rtbIcon { margin-left: -35px; } /* ie6 */
* html .RadToolBarDropDown_rtl .rtbIcon { margin-left: 0; float: right; } /* ie6 */

.RadToolBarDropDown .rtbText
{
	padding: 0 30px 0 0;
	display: block;
	*display: inline;
	zoom: 1;
}
.RadToolBarDropDown_rtl .rtbText { padding: 0 0 0 30px; }

.RadToolBarDropDown .rtbDisabled .rtbWrap
{
	cursor: default;
}

.RadToolBarDropDown .rtbItemHovered,
.RadToolBarDropDown .rtbItemFocused
{
	background-color: #99ccff;
	background-repeat:  no-repeat;
	background-position: 0 0;
}

.RadToolBarDropDown .rtbItemHovered .rtbWrap,
.RadToolBarDropDown .rtbItemFocused .rtbWrap
{
	background-color: #99ccff;
	background-repeat:  no-repeat;
	background-position: 100% -22px;
}

.RadToolBar .rtbWrap:hover,
.RadToolBar .rtbWrap:focus,
.RadToolBarDropDown .rtbWrap:hover,
.RadToolBarDropDown .rtbWrap:focus
{
	outline: 0;
}

.RadToolBarDropDown .rtbDisabled .rtbIcon
{
	filter: alpha(opacity=40);
	opacity: 0.4;
	-moz-opacity: 0.4;
}

.RadToolBarDropDown .rtbSeparator
{
	font-size: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	margin: 1px 1px 1px 30px;
	border-top-style: solid;
	border-top-width: 1px;
}
.RadToolBarDropDown_rtl .rtbSeparator { margin: 1px 30px 1px 1px; }

/* </drop-down> */