<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Onit.OnAssistnet.OnVac.Report.ReportComuni.Properties.Settings.sviora11g"
            connectionString=""
            providerName="System.Data.OracleClient" />
    </connectionStrings>
</configuration>