<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--  La configurazione del log viene ereditata dal web.config di OnVac

  <configSections>
    <section name="Log" type="Onit.OnAssistnet.OnVac.Log.Config.ConfigHandler, Onit.OnAssistnet.OnVac.Log"/>
  </configSections>

  <Log enable="true" throwexceptions="true">
    <add name="LogDB" type="Onit.OnAssistnet.OnVac.Log.LogWriterProvider.DbLogWriterProvider" enable="true">
      <par name="DataProvider" value="OracleClient"/>
      <par name="FiltroCriticita" value="0,1,2,3"/>
    </add>
  </Log>
  
  -->
  
  <appSettings>
    <add key="AppId" value="OnVac" />
    <add key="CodiceAzienda" value="050000" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Manager" publicKeyToken="19ddaa27b5c6f016" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.12.1.0" newVersion="4.12.1.0" />
      </dependentAssembly>
    <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.5.3700.0" newVersion="11.5.3700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.5.3700.0" newVersion="11.5.3700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Web" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.19.0.0" newVersion="4.19.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.5.3700.0" newVersion="11.5.3700.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Web.UI.WebControls.TextboxFinder" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.NTier" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.0.0" newVersion="2.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.NTier.Dal" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Shared.Web.Static" publicKeyToken="036fb84000a884d0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Onit.Web.UI.WebControls.Validators" publicKeyToken="336f07708934efc8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.0.0" newVersion="3.4.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true">
      <baseAddressPrefixFilters>
        <add prefix="http://localhost" />
      </baseAddressPrefixFilters>
    </serviceHostingEnvironment>
    <bindings>
      <wsHttpBinding>
        <binding name="WsBinding_IConsensiService" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" messageEncoding="Text" textEncoding="utf-8" transactionFlow="true" useDefaultWebProxy="true">
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="Windows" algorithmSuite="Default" />
          </security>
        </binding>
      </wsHttpBinding>
      <netTcpBinding>
        <binding name="netBinding_IConsensiService" portSharingEnabled="true" />
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="Onit.OnAssistnet.OnVac.Wcf.ServiceBehavior" name="Onit.OnAssistnet.OnVac.Wcf.GestioneConsensoCallbackService">
        <endpoint address="" binding="basicHttpBinding" contract="Onit.OnAssistnet.OnVac.Wcf.IPazienteHL7Soap" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service behaviorConfiguration="Onit.OnAssistnet.OnVac.Wcf.ServiceBehavior" name="Onit.OnAssistnet.OnVac.Wcf.RicezioneMessaggiEsterniService">
        <endpoint address="" binding="basicHttpBinding" contract="Onit.OnAssistnet.OnVac.Wcf.IRicezioneMessaggiEsterniService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Onit.OnAssistnet.OnVac.Wcf.ServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  
</configuration>
